body{
    background-color: #7BC568;
}
#navbar{
    background-color:#1D6131 ;
}
.btn{
    background-color:#1D6131 ;

}
footer{
    background-color:#1D6131 ; 
    
}
#services{
    color: #7BC568;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color:  #7BC568;
}
